<div class="bg50c">
  <i class="small inverted copyright outline icon"></i>
  <strong class="ui sub header">Copyright BIOS Collective 2019</strong><br>
  <strong class="ui sub header">Shirt design by rachillustration</strong><br>
  <strong class="ui sub header">Website design and associated graphics by matt sei</strong><br>
  <strong class="ui sub header">all payments processed securely by stripe</strong><br>
  <a href="https://www.facebook.com/Rach.Illustration/"><i class="facebook link icon"></i></a>
  <a href="https://github.com/mattsei"><i class="github link icon"></i></a>
  <a href="https://stripe.com/"><i class="stripe link icon"></i></a>
</div>