<div class="ui centered grid container">
  <%= image_tag("deadneko-order-con.png", class: 'order-con') %>
  <div class="eight wide computer twelve wide tablet sixteen wide mobile column">
    <%= render 'footer' %>
  </div>
</div>