
<div class="ui centered three column grid container">


<div class="eight wide computer twelve wide tablet sixteen wide mobile column">
  <%= image_tag("teim-header.png", class: 'responsive') %>
  <%= image_tag("deadneko-web.png", class: 'vh80') %>
  <div class="bg50b">
  <p style="color:white;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut metus nisi, laoreet et eros et, condimentum sodales tellus. Donec tempor facilisis eros, a volutpat odio pharetra non. Mauris lacus nisi, molestie et congue a, sollicitudin nec justo. Pellentesque aliquet, est a porta euismod, dolor erat laoreet mauris, ac finibus lectus lectus id eros. Vivamus ullamcorper efficitur tellus at tristique. Vivamus ultrices id mauris sit amet dictum. Aenean sapien nulla, fringilla ut dolor at, consectetur viverra eros. Maecenas interdum, odio quis imperdiet pharetra, arcu arcu iaculis nibh, vel gravida nibh sapien vel mauris. Donec odio leo, facilisis quis nunc a, porta pretium turpis. Sed vulputate sem eget arcu ornare, sit amet accumsan ante porttitor. Nulla facilisi. Etiam lobortis neque urna, in sagittis urna tempus placerat. </p>
  </div>
  <%= render 'newform' %>
</div>

</div>